* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
}

.container {
    max-width: 1400px;
    padding: 3%;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    font-size: 35px;
    font-family: 'Saira', cursive;
    color: #BF7E04;
    font-weight: bold;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border-radius: 30px;
    transition: 0.6s;
    font-family: 'Saira', cursive;
}
nav ul li a:hover{
    background-color: #a9a9a9;
}

.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
    {
        opacity: 0;
        transform: translateX(-50px);
    }

}

.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #BF7E04;
    font-family:'Saira', cursive;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #000000;
    font-family:'Saira', cursive;
    width: 40%;
    height: 10%;
}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #a9a9a9;
    color: #000000;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #a9a9a9;
    font-family:'Saira', cursive;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #e0dfdf;
    border: 2px solid #e0dfdf;
    color: #000000;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url(./img/bolo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(./img/metaverso.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(./img/bolo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje #prev,
.containerproje #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    background-color: #a9a9a9;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover,
.containerproje #next:hover{
    background: #e0dfdf;
}

.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}

@media(max-width: 500px){
    .containerproje #prev{
        top: 60%;
        left: 0;
    }

    .containerproje #next{
        top: 60%;
        right: 0;
    }

    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #000000;
        font-family: 'Saira', cursive;
        width: 70%;
        height: 10%;
    }
}
